/* PAGE */

html {
  background-color: #1132B9;
}

body {
  padding: 32px 64px;
}

body {
  font-family: 'Futura-Medium', 'Futura', sans-serif;
  color: #fff;
}

h2, h3 {
  text-transform: uppercase;
}

h1 {
  position: fixed;
  font-size: 6vh;
  font-weight: 400;
  width: 45vw; /* 652 / (1029 + 652 + 103) */
  right: 0; /* 103 / (1029 + 652 + 103) */
  top: 38vh; /* 400 / (400 + 404 + 236) */
  bottom: 22vh; /* 236 / (400 + 404 + 236) */
}

h2 {
  font-size: 4vh;
  color: #F9006C;
}

p {
  font-size: 3vh;
  color: #444;
}

a {
  font-size: 3vh;
}

span.h1-5 {
  font-size: 5vh;
}

code {
  display: block;
  font-family: 'menlo';
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  background: url('/images/container.png') no-repeat;
  background-color: #fff;
  background-size: contain;
  width: 40vw; /* 788 / (103 + 788 + 1029) */
  left: 5vw; /* 103 / (103 + 788 + 1020) */
  top: 32vh; /* 330 / (535 + 330 + 175) */
  bottom: 17vh; /* 175 / (535 + 330 + 175) */
  padding: 45px 20px;
  border-radius: 7px;
}

.bg {
  position: fixed;
  z-index: 1;
  top: -42px;
  left: -74px;
  right: -74px;
  bottom: -42px;
  padding: 72px calc(74px + 5vw);
  background: url('/images/bg.png') no-repeat;
  background-size: cover;
}

.blurred {
  filter: blur(4px);
}

.circle {
  position: fixed;
  top: 120px;
  max-width: 70vh;
  height: auto;
}

.made-with-gitcoin {
  position: absolute;
  z-index: 2;
  max-width: 20vw;
  height: auto;
  right: 25vw;
  bottom: 10vh;
}

/* TEXT */
.futura {
  font-family: 'Futura-Medium', 'Futura', sans-serif;
}

.centered {
  text-align: center;
}

/* HEADER */
header {
  display: flex;
  position: relative;
  justify-content: space-between;
  z-index: 2;
}

/* NAVBAR */
nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

nav div {
  cursor: pointer;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 24px 24px 0;
}

nav div.selected {
  color: #0FCE7C;
  border-bottom: 4px solid #0FCE7C;
}
