/* PAGE */

html {
  background-color: #1132B9;
}

body {
  padding: 32px 64px;
}

body {
  font-family: 'Futura-Medium', 'Futura', sans-serif;
  color: #fff;
}

h1 {
  position: fixed;
  font-size: 6vh;
  font-weight: 400;
  width: 45vw; /* 652 / (1029 + 652 + 103) */
  right: 0; /* 103 / (1029 + 652 + 103) */
  top: 38vh; /* 400 / (400 + 404 + 236) */
  bottom: 22vh; /* 236 / (400 + 404 + 236) */
}

h2 {
  font-size: 4vh;
  color: #F9006C;
  text-transform: uppercase;
}

h3 {
  font-size: 3vh;
  color: #3F00FF;
  margin: 0;
  font-weight: 100;
  word-break: break-all;
}

h4 {
  font-size: 2vh;
  color: #444;
  margin: 0;
  font-weight: 100;
  text-transform: uppercase;
}

p {
  font-size: 3vh;
  color: #444;
}

a {
  font-size: 3vh;
}

span.h1-5 {
  font-size: 5vh;
}

code {
  display: block;
  font-family: 'menlo';
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.pointer {
  cursor: pointer;
}

.bg {
  position: fixed;
  z-index: 1;
  top: -42px;
  left: -74px;
  right: -74px;
  bottom: -42px;
  padding: 72px calc(74px + 5vw);
  background: url('/images/bg.png') no-repeat;
  background-size: cover;
  filter: blur(0px);
  transition-property: filter;
  transition-duration: 2s;
}

.blurred {
  filter: blur(4px);
}

.circle {
  position: fixed;
  top: 120px;
  max-width: 70vh;
  height: auto;
}

.made-with-gitcoin {
  position: absolute;
  right: 25vw;
  bottom: 10vh;
  z-index: 2;
}

.made-with-gitcoin img {
  max-width: 20vw;
  height: auto;
}

/* TEXT */

.futura {
  font-family: 'Futura-Medium', 'Futura', sans-serif;
}

.centered {
  text-align: center;
}

/* HEADER */

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  z-index: 2;
}

/* NAVBAR */

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

nav a {
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  margin: 24px 24px 14px;
  padding: 0;
}

nav a:hover, nav a:focus, nav a:active {
  color: #0FCE7C;
}

nav a:visited {
  color: #fff;
}

nav a.selected {
  color: #0FCE7C;
  border-bottom: 4px solid #0FCE7C;
}

/* CONTAINER */

.container {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  background: url('/images/container.png') no-repeat;
  background-color: #fff;
  background-size: contain;
  width: 40vw; /* 788 / (103 + 788 + 1029) */
  left: 5vw; /* 103 / (103 + 788 + 1020) */
  top: 32vh; /* 330 / (535 + 330 + 175) */
  bottom: 15vh; /* 175 / (535 + 330 + 175) */
  padding: 3vw; /* 73 / 1920 */
  border-radius: 7px;
  transition-property: left;
  transition-duration: 1s;
}

.container.pushed {
  left: -10vw; /* 212 / 1920 */
}

.blue-stripe {
  margin: 3vh -3vw;
  padding: 0 3vw;
  background-color: #3f00ff;
}

/* PANEL */

article {
  position: absolute;
  width: 56vw; /* 1232 / 1920 */
  top: 15vh; /* 118 / 1040 */
  right: -65vw; /* 37 / 1920 */
  background-color: #fff;
  color: #444;
  overflow-y: scroll;
  z-index: 2;
  padding: 5vh 4vw;
  margin-bottom: 5vh;
  border-radius: 7px;
  transition-property: right;
  transition-duration: 1s;
}

article.pushed {
  right: 2vw;
}

article h2 {
  color: #444;
  font-weight: 100;
  text-transform: none;
}

/* ACCORDION */

.accordion {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 24px 24px 24px 72px;
  margin: 13px;
  background: url('/images/plus.png') 30px 30px no-repeat;
}

.accordion .title {
  cursor: pointer;
  font-size: 3vh;
  font-weight: 100;
  color: #7c7c7c;
}

.accordion .contents {
  overflow: hidden;
  height: auto;
  transition-property: height;
  transition-duration: 1s;
}

/* .accordion .contents.open {
  height: auto;
} */
